<script>
    //Cargos já cadastrados
    var cargos = [2500.00, 1500.00, 10000.00, 1200.00, 800.00];

    //A aplicação ja começa com 3 funcionário cadastrados
    var funcionario = [{ codigo: "20", nome: "thiago ligier", cargo: 4 },
                        { codigo: "15", nome: "Joao da Silva", cargo: 1 },
                        { codigo: "1", nome: "Pedro Santos", cargo: 2 },
                        { codigo: "5", nome: "Jesisca Rodrigues", cargo: 1}];

    gerenciadorAplicativo();

    // Gerencia qual operação realizar
    function gerenciadorAplicativo(){
        let operacao = prompt("Qual operação deseja realizar?\n-CC (Cadastrar Cargo)\n-CF (Cadastrar Funcionario)\n-MR (Mostrar Relatório)\n-MTSC (Mostrar Total de Salario por Cargo)");
        if(operacao == "CC"){
            let salario = prompt("Digite o valor do salario do novo cargo: ");
            cadastrarCargo(salario);
        }
        else if(operacao == "CF"){
            var codigoDigitado = prompt("digite um codigo para o funcionario: ");
            var nomeDigitado = prompt("digite o nome do funcionario: ");
            var cargoDigitado = prompt("digite um cargo entre 0 e " + (cargos.length - 1) + ":");
            cadastrarFuncionario(codigoDigitado, nomeDigitado, cargoDigitado);
        }
        else if(operacao == "MR"){
            mostrarRelatorio();
        }
        else if(operacao == "MTSC"){
            let codigoCargo = prompt("Digite o codigo do cargo desejado: ");
            mostrarTotaldeSalarioPorCargo(codigoCargo);
        }
        else{
            alert("Operação invalida, digite uma operacao valida!");
            gerenciadorAplicativo();
        }
    }

    // Funcionalidade 1
    function cadastrarCargo(salario) {
        cargos.push(salario);
        alert("Cargo cadastrado com sucesso!");
        gerenciadorAplicativo();
    }
    
    // Funcionalidade 2
    function cadastrarFuncionario(cod, nom, carg) {
        let existe = verificaSeCodigoJaExiste(cod);

        if (carg < cargos.length && existe) {
            let elemento = { codigo: cod, nome: nom, cargo: carg};
            funcionario.push(elemento);
            alert("Funcionario cadastrado com sucesso!");
            gerenciadorAplicativo();
        }
        else {
            alert("Erro: Cargo Invalido ou Codigo ja Existe! Digite um cargo entre 0 e " + (cargos.length - 1) + " ou um codigo valido.");
            gerenciadorAplicativo(); // Chama a função gerenciadorAplicativo caso houver algum erro ao cadastrar o funcionário.
        }
    }

    //Função auxiliar da função cadastrarFuncionario().
    function verificaSeCodigoJaExiste(codigoDigitado){
        var existe = true;

        for (let index = 0; index < funcionario.length; index++) {
            let elemento = funcionario[index].codigo;

            if(codigoDigitado == elemento){
                existe = false;
               break; // Sai do loop quando encontra o código já existente.
            }
        }
        return existe;
    }

    // Funcionalidade 3
    function mostrarRelatorio() {
        document.write("<strong>Lista de Informacoes do Vetor de Funcionario</strong> <br><br>");

        for (let index = 0; index < funcionario.length; index++) {
            let codigoElemento = funcionario[index].codigo;
            let nomeElemento = funcionario[index].nome;
            let cargoElemento = funcionario[index].cargo;
            
            document.write("<br>Codigo: " + codigoElemento + "<br>Nome: " + nomeElemento + "<br>Cargo: " + cargoElemento + "<br><hr>");
        }
    }

    // Funcionalidade 4
    function mostrarTotaldeSalarioPorCargo(codigoCargo) {

            if(codigoCargo < cargos.length){
                let somaCargo = 0;

                for (let index = 0; index < funcionario.length; index++) {
                    if(codigoCargo == funcionario[index].cargo){
                        somaCargo += cargos[funcionario[index].cargo];   
                    }
            }
            alert("Soma dos salarios do cargo indicado: R$" + somaCargo);
            gerenciadorAplicativo();
        }
    }

</script>